@using System.Web.Mvc.Html
@using SW.Frontend.Helpers
@model SW.Frontend.Models.SearchViewModel
@{
    ViewBag.Title = "Дешевые Курсовые И Лабораторные| Studlearn.com";
    ViewBag.Description = "Здесь можно скачать платные работы и поблагодарить авторов за их тяжелый труд.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row margin-bottom-40">
        <div class="col-md-12">
            <h1>@Html.Encode(SW.Resources.Frontend.General.HomeFeaturedPaid)</h1>
            <div class="content-page">
                <div class="row">
                    <ul class="list-unstyled">
                        @foreach (var document in Model.Documents)
                        {
                            @Html.Partial("_DocumentFeaturedPartial", document)
                        }
                    </ul>
                </div>
                @Html.Pager("Index", "Paid", Model.PagerModel)
            </div>
        </div>
    </div>
</div>
