.vs/
/packages
*/bin/
*/obj/
!/packages/repositories.config
/SW.Frontend/Cache
*.wadcfgx
UpgradeLog.htm
*.dbmdl
*.jfm
/SW.Frontend/Properties/PublishProfiles
/obj/Debug/*.cache
/bin/SW.Frontend.dll
/bin/SW.Frontend.pdb
/bin/SW.Frontend.dll.config
/obj/Debug/SW.Frontend.csproj.FileListAbsolute.txt
/obj/Debug/SW.Frontend.dll
*.pdb
