@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3>Не получилось отобразить страницу со списком работ</h3>
    <p class="lead">
        Такая ерунда случается по следующим причинам
    </p>
    <ul>
        <li>Категория не существует, либо было удалена</li>
        <li>Ты включил умного и написал что попало в адрессной строке</li>
    </ul>
    <p style="height:100px;"></p>
</div>
