<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/works.css">
    <title>Document</title>
</head>
<body>
    <div class="works">
        <div class="custom-container">
            <div class="short-categories">
                <div class="short-category">

                </div>
            </div>
            <div class="total">

            </div>
            <table>
                <thead> 
                    <tr class="table-header">
                        <th>Тип</th>
                        <th>Название</th>
                        <th>Просмотры</th>
                        <th>Рейтинг</th>
                        <th>Категория</th>
                        <th>Стоимость</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Исходники</td>
                        <td>Юридическая фирма (C#, WPF. SQL Server)</td>
                        <td>967</td>
                        <td>5.0</td>
                        <td>Функциональное программирование F#</td>
                        <td>Стоимость</td>
                    </tr>
                    <tr>
                        <td>Исходники</td>
                        <td>Юридическая фирма (C#, WPF. SQL Server)</td>
                        <td>967</td>
                        <td>5.0</td>
                        <td>Функциональное программирование F#</td>
                        <td>Стоимость</td>
                    </tr>
                    <tr>
                        <td>Исходники</td>
                        <td>Юридическая фирма (C#, WPF. SQL Server)</td>
                        <td>967</td>
                        <td>5.0</td>
                        <td>Функциональное программирование F#</td>
                        <td>Стоимость</td>
                    </tr>
                    <tr>
                        <td>Исходники</td>
                        <td>Юридическая фирма (C#, WPF. SQL Server)</td>
                        <td>967</td>
                        <td>5.0</td>
                        <td>Функциональное программирование F#</td>
                        <td>Стоимость</td>
                    </tr>
                </tbody>
            </table>

            <button class="next-button">Загрузить еще</button>
        </div>
    </div>
</body>
</html>