@section styles {
    <link href="~/metronic/assets/frontend/pages/css/about.css" rel="stylesheet" type="text/css" />
    <link href="~/metronic/assets/frontend/pages/css/common.css" rel="stylesheet" type="text/css" />
};

<div class="for-us">
    <div class="container">
        <div class="navigation">
            <a href="@Url.Action("Index", "Home")" class="back-link"><span>Вернуться назад</span></a>
            <div class="navigraton-directory">
                <span class="navigation-item">Главная страница</span> / <span class="navigation-item current">
                    О нас
                </span>
            </div>
        </div>
        <h1>О нас</h1>
        <div class="for-us-images">
            <div class="image-margin-right">
                <img src="~/Metronic/assets/frontend/pages/img/about/code-1.png" alt="">
            </div>
            <div class="for-us-images-table image-margin-right">
                <span>
                    <img class="image-margin-right" src="~/Metronic/assets/frontend/pages/img/about/code-2.png" alt="">
                    <img src="~/Metronic/assets/frontend/pages/img/about/code-4.png" alt="">
                </span>
                <span class="image-margin-top">
                    <img class="image-margin-right" src="~/Metronic/assets/frontend/pages/img/about/code-3.png" alt="">
                    <img src="~/Metronic/assets/frontend/pages/img/about/code-5.png" alt="">
                </span>
            </div>
            <img src="~/Metronic/assets/frontend/pages/img/about/code-6.png" alt="">
        </div>
        <div class="description">
            <p>
                С торжественной историей, начавшейся в 2015 году, компания Studlearn продолжает свое восьмилетнее
                путешествие, посвященное поддержке студентов. Основной стержень нашего веб-пространства — предоставление
                готовых материалов по программированию, являющихся неотъемлемым справочным ресурсом. Авторское право на
                эти материалы принадлежит креативному коллективу сайта studlearn.com.
            </p>
            <p>
                Приобретая или загружая наши материалы бесплатно, вы подтверждаете свое согласие на использование их
                исключительно в качестве справочного материала, не приписывая себе авторство. Мы поощряем использование
                заготовок в качестве надежного ресурса для вдохновения при выполнении ваших задач.
            </p>
            <p>
                Кроме того, мы с удовольствием принимаем заказы на индивидуальную разработку программ, охватывая все
                языки программирования. Для размещения заказа просто напишите нам в телеграмм, предоставив необходимые
                требования и детали заказа, и мы обязательно свяжемся с вами.
            </p>
        </div>

        <p class="our-mission">
            Наша миссия в Studlearn не ограничивается лишь предоставлением материалов. Мы стремимся создать интеллектуальное сообщество студентов, где каждый может находить поддержку, делиться опытом и вдохновляться своими идеями. Наш форум и блог - это пространство для обмена знаниями и обсуждения последних тенденций в мире программирования.
        </p>
    </div>
</div>