@{
    <link href="~/metronic/assets/frontend/pages/css/contacts.css" rel="stylesheet" type="text/css" />
}

<div class="contacts">
    <div class="custom-container">
        <div class="navigation">
            <a href="#" class="back-link"><span>Вернуться назад</span></a>
            <div class="navigraton-directory">
                <span class="navigation-item">Главная страница</span> / <span class="navigation-item current">Контакты</span>
            </div>
        </div>
        <h1 style="font-weight:bold">КОНТАКТЫ</h1>
        <div class="contacts-blocks">
            <div class="contact-block">
                <div class="contact-type"><b>Email</b></div>
                <div class="contact-items">
                    <div class="contact-item email-item"><b>sales@studlearn.com</b></div>
                    <div class="contact-item email-item"><b>support@studlearn.com</b></div>
                </div>
            </div>
            <div class="contact-block">
                <div class="contact-type"><b>Социальные сети</b></div>
                <div class="contact-items">
                    <div class="contact-item telegram-item"><b>Telegram</b></div>
                    <div class="contact-item whatsapp-item"><b>Whatsapp</b></div>
                </div>
            </div>
            <div class="contact-block">
                <div class="contact-type"><b>Номера телефонов</b></div>
                <div class="contact-items">
                    <div class="contact-item call-item"><b>+7(995)678-06-07</b></div>
                    <div class="contact-item call-item"><b>+7(995)678-06-08</b></div>
                </div>
            </div>
        </div>
        <p>
            Благодарим за выбор Studlearn. Мы стремимся обеспечить вас всем необходимым для успешного обучения и
            профессионального роста. Ваше мнение важно для нас, и мы всегда готовы помочь вам достичь ваших целей.
        </p>
    </div>
</div>