@{
    <link href="~/metronic/assets/frontend/pages/css/contacts.css" rel="stylesheet" type="text/css" />
    <link href="~/metronic/assets/frontend/pages/css/products/media.css" rel="stylesheet" type="text/css" />
    <link href="~/metronic/assets/frontend/pages/css/products/product.css" rel="stylesheet" type="text/css" />
}

<div class="contacts">
    <div class="custom-container">
        <div class="more-products-list-container">
            <div class="product-breadcrumb">
                <a href="@Url.Action("Index", "Home")" class="comeback-to-page" style="border-radius: 8px !important;">Вернуться назад</a>
                <div class="nav-breadcrumb">
                    <ul class="nav-breadcrumb-list">
                        <li class="nav-breadcrumb-item" onclick="window.location.href='@Url.Action("Index", "Home")'">Главная страница /</li>
                        <li class="nav-breadcrumb-item" style="color: #272F37 !important;">Контакты</li>
                    </ul>
                </div>
            </div>
            <div style="width: 1px;"></div>
        </div>
        <h1 style="font-weight:bold">КОНТАКТЫ</h1>
        <div class="contacts-blocks">
            <div class="contact-block">
                <div class="contact-type"><b>Email</b></div>
                <div class="contact-items">
                    <div class="contact-item email-item"><b>sales@studlearn.com</b></div>
                    <div class="contact-item email-item"><b>support@studlearn.com</b></div>
                </div>
            </div>
            <div class="contact-block">
                <div class="contact-type"><b>Социальные сети</b></div>
                <div class="contact-items">
                    <div class="contact-item telegram-item"><b>Telegram</b></div>
                    <div class="contact-item whatsapp-item"><b>Whatsapp</b></div>
                </div>
            </div>
            <div class="contact-block">
                <div class="contact-type"><b>Номера телефонов</b></div>
                <div class="contact-items">
                    <div class="contact-item call-item"><b>+7(995)678-06-07</b></div>
                    <div class="contact-item call-item"><b>+7(995)678-06-08</b></div>
                </div>
            </div>
        </div>
        <p>
            Благодарим за выбор Studlearn. Мы стремимся обеспечить вас всем необходимым для успешного обучения и
            профессионального роста. Ваше мнение важно для нас, и мы всегда готовы помочь вам достичь ваших целей.
        </p>
    </div>
</div>