@{
    ViewBag.Title = "Как Загрузить И Скачать Лабораторные Работы | Studlearn.com";
    ViewBag.Description = "В это разделе ты узнаешь, как пользоваться ресурсом StudLearn. Изучишь политику пользования ресурсом и то, как заработать онлайн на своих студенческих работах.";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PreHeader{
    <div class="pre-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 additional-shop-info">
                    <ul class="list-unstyled list-inline">
                        <li><i class="fa fa-shield"></i> @SW.Resources.Frontend.General.Moderation</li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6 additional-nav">
                    @Html.Action("HeaderView", "Shared", false)
                </div>
            </div>
        </div>
    </div>
}

@section RichHeader {
    <!-- BEGIN SLIDER -->
}

<div class="main" style="min-height: 600px;">
    <div class="container">
        <div class="row margin-bottom-40">
            <!-- BEGIN CONTENT -->
            <div class="col-md-12 col-sm-12">
                <h1>@SW.Resources.Frontend.About.FAQ</h1>
                <div class="content-page">
                    <div class="row">
                        <!-- START TAB FAQ -->
                        <div id="faq" class="tab-pane">
                            @Html.Partial("Rules/_FaqPartial")
                        </div>
                        <!-- END TAB FAQ -->
                    </div>
                </div>
            </div>
            <!-- END CONTENT -->
        </div>
    </div>
</div>
