@model SW.Frontend.Models.HomePageModel
@using SW.Resources.Frontend;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Description = SW.Shared.Constants.Application.FullDescription;
    ViewBag.IsMainPage = true;
}

@section styles {
    <link rel="stylesheet" href="../metronic/assets/frontend/pages/css/products/normalize.css">
    <link rel="stylesheet" href="../metronic/assets/frontend/pages/css/mainPage.css">
    <link rel="stylesheet" href="../metronic/assets/frontend/pages/css/media.css">
}


<main class="main main-page-style">
    <div class="main-section">
        <div class="main-section-container container">
            <div class="main-section-title">
                <h1 class="section-title">
                    <span>StudLearn</span> - Ваш успех начинается здесь!
                </h1>
            </div>
            <div class="main-section-search">
                <label>
                    <input type="text" placeholder="Поиск по всем работам">
                </label>
            </div>
            <div class="main-page-categories">
                @{
                    Html.RenderAction("_ThemesListPartial", "Themes");
                }
            </div>
        </div>
        <div class="main-section-mouseOutline">
            <span class="scroll-down">Листать вниз</span>
            <div class="btn-user-chat-container">
                <button type="button" class="btn-user-chat"></button>
            </div>
        </div>
    </div>
    <div class="main-page-benefits container">
        <div class="main-section-title">
            <h2>Почему мы</h2>
            <span class="title-stroke"></span>
        </div>
        <div class="our-benefits-container">
            <div class="benefit-item benefit1">
                <p class="benefit-text">
                    Большая база уникальных работ
                </p>
            </div>
            <div class="benefit-item benefit2">
                <p class="benefit-text">
                    Все работы проверены и готовы к использованию
                </p>
            </div>
            <div class="benefit-item benefit3">
                <p class="benefit-text">
                    Все работы проверены и готовы к использованию
                </p>
            </div>
            <div class="benefit-item benefit4">
                <p class="benefit-text">
                    Мы соблюдаем качество прежде всего
                </p>
            </div>
        </div>
    </div>
    <div class="popular-works container">
        <div class="main-section-title">
            <h2>Популярные работы</h2>
            <span class="title-stroke"></span>
        </div>

        <div class="more-products-list">
            @for (int i = 0; i < 4; i++)
            {
                @Html.Partial("Featured/_FeaturedWorkPartial", Model.FeaturedFreeWorks.ElementAt(i))
            }
        </div>
        <div class="more-products-list">
            @for (int i = 0; i < 4; i++)
            {
                @Html.Partial("Featured/_FeaturedWorkPartial", Model.FeaturedPayedWorks.ElementAt(i))
            }
        </div>
        <div class="watch-catalog-container">
            <button type="button" class="watch-catalog-btn" onclick="window.location.href='../catalog/index'">
                Смотреть каталог
            </button>
        </div>
    </div>
    <div class="main-categories">
        <div class="main-category-bg container">
            <div class="main-categories-container">
                <div class="main-section-title">
                    <h2>Основные категории</h2>
                    <span class="title-stroke"></span>
                </div>
                <div class="category-container">
                    <div class="category-block">
                        <div class="block-title-container">
                            <span class="block-title">Языки программирования</span>
                            <span class="block-title-item">1000</span>
                        </div>
                        <div class="category-block-body">
                            <div class="categories-1">
                                <div class="category-item-title">
                                    <span class="main-item">.NET (C#)</span>
                                    <span class="item-title">1C Программирование</span>
                                    <span class="item-title">Basic/Visual Basic</span>
                                    <span class="item-title">C/C++</span>
                                    <span class="item-title">Excel</span>
                                    <span class="item-title">HTML/CSS</span>
                                    <span class="item-title">Java</span>
                                    <span class="item-title">JavaScript</span>
                                </div>
                                <div class="category-item-count">
                                    <span class="main-item-count">465</span>
                                    <span class="item-count">44</span>
                                    <span class="item-count">123</span>
                                    <span class="item-count">65</span>
                                    <span class="item-count">65</span>
                                    <span class="item-count">65</span>
                                    <span class="item-count">65</span>
                                    <span class="item-count">65</span>
                                </div>
                            </div>
                            <div class="categories-2">
                                <div class="category-item-title">
                                    <span class="item-title">1C Программирование</span>
                                    <span class="item-title">1C Программирование</span>
                                    <span class="item-title">Basic/Visual Basic</span>
                                    <span class="item-title">C/C++</span>
                                    <span class="item-title">Excel</span>
                                    <span class="item-title">HTML/CSS</span>
                                    <span class="item-title">Java</span>
                                    <span class="item-title">JavaScript</span>
                                </div>
                                <div class="category-item-count">
                                    <span class="main-item-count">65</span>
                                    <span class="item-count">65</span>
                                    <span class="item-count">121</span>
                                    <span class="item-count">6515</span>
                                    <span class="item-count">65</span>
                                    <span class="item-count">65</span>
                                    <span class="item-count">65</span>
                                    <span class="item-count">65</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="category-block ">
                        <div class="block-title-container">
                            <span class="block-title category2">Основные типы работ</span>
                            <span class="block-title-item">1000</span>
                        </div>
                        <div class="category-block-body">
                            <div class="categories-1">
                                <div class="category-item-title">
                                    <span class="main-item">.NET (C#)</span>
                                    <span class="item-title">1C Программирование</span>
                                    <span class="item-title">Basic/Visual Basic</span>
                                    <span class="item-title">C/C++</span>
                                    <span class="item-title">Excel</span>
                                    <span class="item-title">HTML/CSS</span>
                                    <span class="item-title">Java</span>
                                    <span class="item-title">JavaScript</span>
                                </div>
                                <div class="category-item-count">
                                    <span class="main-item-count">465</span>
                                    <span class="item-count">44</span>
                                    <span class="item-count">123</span>
                                    <span class="item-count">65</span>
                                    <span class="item-count">65</span>
                                    <span class="item-count">65</span>
                                    <span class="item-count">65</span>
                                    <span class="item-count">65</span>
                                </div>
                            </div>
                            <div class="categories-2">
                                <div class="category-item-title">
                                    <span class="item-title">1C Программирование</span>
                                    <span class="item-title">1C Программирование</span>
                                    <span class="item-title">Basic/Visual Basic</span>
                                    <span class="item-title">C/C++</span>
                                    <span class="item-title">Excel</span>
                                    <span class="item-title">HTML/CSS</span>
                                    <span class="item-title">Java</span>
                                    <span class="item-title">JavaScript</span>
                                </div>
                                <div class="category-item-count">
                                    <span class="main-item-count">65</span>
                                    <span class="item-count">65</span>
                                    <span class="item-count">121</span>
                                    <span class="item-count">6515</span>
                                    <span class="item-count">65</span>
                                    <span class="item-count">65</span>
                                    <span class="item-count">65</span>
                                    <span class="item-count">65</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="category-block">
                        <div class="block-title-container">
                            <span class="block-title category3">Популярные темы</span>
                            <span class="block-title-item">1000</span>
                        </div>
                        <div class="category-block-body">
                            <div class="categories-1">
                                <div class="category-item-title">
                                    <span class="main-item">.NET (C#)</span>
                                    <span class="item-title">1C Программирование</span>
                                    <span class="item-title">Basic/Visual Basic</span>
                                    <span class="item-title">C/C++</span>
                                    <span class="item-title">Excel</span>
                                    <span class="item-title">HTML/CSS</span>
                                    <span class="item-title">Java</span>
                                    <span class="item-title">JavaScript</span>
                                </div>
                                <div class="category-item-count">
                                    <span class="main-item-count">465</span>
                                    <span class="item-count">44</span>
                                    <span class="item-count">123</span>
                                    <span class="item-count">65</span>
                                    <span class="item-count">65</span>
                                    <span class="item-count">65</span>
                                    <span class="item-count">65</span>
                                    <span class="item-count">65</span>
                                </div>
                            </div>
                            <div class="categories-2">
                                <div class="category-item-title">
                                    <span class="item-title">1C Программирование</span>
                                    <span class="item-title">1C Программирование</span>
                                    <span class="item-title">Basic/Visual Basic</span>
                                    <span class="item-title">C/C++</span>
                                    <span class="item-title">Excel</span>
                                    <span class="item-title">HTML/CSS</span>
                                    <span class="item-title">Java</span>
                                    <span class="item-title">JavaScript</span>
                                </div>
                                <div class="category-item-count">
                                    <span class="main-item-count">65</span>
                                    <span class="item-count">65</span>
                                    <span class="item-count">121</span>
                                    <span class="item-count">6515</span>
                                    <span class="item-count">65</span>
                                    <span class="item-count">65</span>
                                    <span class="item-count">65</span>
                                    <span class="item-count">65</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="best-developers">
        <div class="main-section-title">
            <h2>Лучшие исполнители</h2>
            <span class="title-stroke"></span>
        </div>
        <div class="developers-container container">
            @foreach (var author in Model.FeaturedAuthors)
            {
                @Html.Partial("Featured/_FeaturedAuthorPartial", author)
            }
        </div>
        <div class="best-developers-button">
            <button type="button" class="all-devs-btn" onclick="window.location.href='../authors'">
                Посмотреть всех
            </button>
        </div>
    </div>
    <div class="usefull-articles container">
        <div class="main-section-title">
            <h2>Полезные статьи</h2>
            <span class="title-stroke"></span>
        </div>
        <div class="articles-container">
            <div class="article-box">
                <div class="article-image">
                    <img src="../metronic/assets/frontend/pages/img/main-page/article1.png" alt="article-image">
                </div>
                <div class="article-body">
                    <p class="article-title">Название новости в две строки</p>
                    <span class="article-created-at">27.12.23</span>
                    <p class="article-text">
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                        Lorem Ipsum...
                    </p>
                    <a href="#" class="read-more">Читать полностью</a>
                </div>
            </div>
            <div class="article-box">
                <div class="article-image">
                    <img src="../metronic/assets/frontend/pages/img/main-page/article2.png" alt="article-image">
                </div>
                <div class="article-body">
                    <p class="article-title">Название новости в две строки</p>
                    <span class="article-created-at">27.12.23</span>
                    <p class="article-text">
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                        Lorem Ipsum...
                    </p>
                    <a href="#" class="read-more">Читать полностью</a>
                </div>
            </div>
            <div class="article-box">
                <div class="article-image">
                    <img src="../metronic/assets/frontend/pages/img/main-page/article3.png" alt="article-image">
                </div>
                <div class="article-body">
                    <p class="article-title">Название новости в две строки</p>
                    <span class="article-created-at">27.12.23</span>
                    <p class="article-text">
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                        Lorem Ipsum...
                    </p>
                    <a href="#" class="read-more">Читать полностью</a>
                </div>
            </div>
            <div class="article-box">
                <div class="article-image">
                    <img src="../metronic/assets/frontend/pages/img/main-page/article4.png" alt="article-image">
                </div>
                <div class="article-body">
                    <p class="article-title">Название новости в две строки</p>
                    <span class="article-created-at">27.12.23</span>
                    <p class="article-text">
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                        Lorem Ipsum...
                    </p>
                    <a href="#" class="read-more">Читать полностью</a>
                </div>
            </div>
            <div class="article-box">
                <div class="article-image">
                    <img src="../metronic/assets/frontend/pages/img/main-page/article5.png" alt="article-image">
                </div>
                <div class="article-body">
                    <p class="article-title">Название новости в две строки</p>
                    <span class="article-created-at">27.12.23</span>
                    <p class="article-text">
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                        Lorem Ipsum...
                    </p>
                    <a href="#" class="read-more">Читать полностью</a>
                </div>
            </div>
            <div class="article-box">
                <div class="article-image">
                    <img src="../metronic/assets/frontend/pages/img/main-page/article6.png" alt="article-image">
                </div>
                <div class="article-body">
                    <p class="article-title">Название новости в две строки</p>
                    <span class="article-created-at">27.12.23</span>
                    <p class="article-text">
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                        Lorem Ipsum...
                    </p>
                    <a href="#" class="read-more">Читать полностью</a>
                </div>
            </div>
        </div>
        <div class="best-developers-button">
            <button type="button" class="all-devs-btn all-articles" onclick="window.location.href='../news'">
                Все статьи
            </button>
        </div>
    </div>
</main>

@section  JsCode{
    <script src="../metronic/assets/frontend/pages/scripts/mainPage.js"></script>
}
