@model SW.Frontend.Models.HomePageModel
@using SW.Resources.Frontend;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Description = SW.Shared.Constants.Application.FullDescription;
    ViewBag.IsMainPage = true;
}

@section styles {
    <link rel="stylesheet" href="~/metronic/assets/frontend/pages/css/products/normalize.css">
    <link rel="stylesheet" href="~/metronic/assets/frontend/pages/css/mainPage.css">
    <link rel="stylesheet" href="~/metronic/assets/frontend/pages/css/media.css">
    <link href="~/metronic/assets/frontend/pages/css/categories.css" rel="stylesheet" type="text/css" />
    <link href="~/metronic/assets/frontend/pages/css/common.css" rel="stylesheet" type="text/css" />
    <link href="~/metronic/assets/frontend/pages/css/blog.css" rel="stylesheet" type="text/css" />
}


<main class="main main-page-style">
    <div class="main-section">
        <div class="main-section-container container">
            <div class="main-section-title">
                <h1 class="section-title">
                    <span>StudLearn</span> - Ваш успех начинается здесь!
                </h1>
            </div>
            <div class="main-section-search">
                <label>
                    <input type="text" placeholder="Поиск по всем работам">
                </label>
            </div>
            <div class="main-page-categories">
                @{
                    Html.RenderAction("_ThemesListPartial", "Themes");
                }
            </div>
        </div>
        <div class="main-section-mouseOutline">
            <span class="scroll-down">Листать вниз</span>
            <div class="btn-user-chat-container" style="border-radius: 14px !important;">
                <button type="button" class="btn-user-chat" style="border-radius: 12px !important;"></button>
            </div>
        </div>
    </div>
    <div class="main-page-benefits container">
        <div class="main-section-title">
            <h2>Почему мы</h2>
            <span class="title-stroke"></span>
        </div>
        <div class="our-benefits-container">
            <div class="benefit-item benefit1">
                <p class="benefit-text">
                    Большая база уникальных работ
                </p>
            </div>
            <div class="benefit-item benefit2">
                <p class="benefit-text">
                    Все работы проверены и готовы к использованию
                </p>
            </div>
            <div class="benefit-item benefit3">
                <p class="benefit-text">
                    Все работы проверены и готовы к использованию
                </p>
            </div>
            <div class="benefit-item benefit4">
                <p class="benefit-text">
                    Мы соблюдаем качество прежде всего
                </p>
            </div>
        </div>
    </div>
    <div class="popular-works container">
        <div class="main-section-title">
            <h2>Лучшие бесплатные работы</h2>
            <span class="title-stroke"></span>
        </div>
        <div class="more-products-list">
            @for (int i = 0; i < 4; i++)
            {
                @Html.Partial("Featured/_FeaturedWorkPartial", Model.FeaturedFreeWorks.ElementAt(i))
            }
        </div>
        <div class="main-section-title">
            <h2>Лучшие платные работы</h2>
            <span class="title-stroke"></span>
        </div>
        <div class="more-products-list">
            @for (int i = 0; i < 4; i++)
            {
                @Html.Partial("Featured/_FeaturedWorkPartial", Model.FeaturedPayedWorks.ElementAt(i))
            }
        </div>
        <div class="watch-catalog-container">
            <button type="button" class="watch-catalog-btn" onclick="window.location.href='../catalog/index'" style="border-radius: 8px !important;">
                Смотреть каталог
            </button>
        </div>
    </div>
    @{
        Html.RenderAction("_CatalogPartial", "Catalog");
    }
    <div class="best-developers">
        <div class="main-section-title">
            <h2>Лучшие исполнители</h2>
            <span class="title-stroke"></span>
        </div>
        <div class="developers-container container">
            @for (int i = 0; i < 5; i++)
            {
                @Html.Partial("Featured/_FeaturedAuthorPartial", Model.FeaturedAuthors.ElementAt(i))
            }
        </div>
        <div class="best-developers-button">
            <button type="button" class="all-devs-btn" onclick="window.location.href='../authors'" style="border-radius: 8px !important;">
                Посмотреть всех
            </button>
        </div>
    </div>
    <div class="usefull-articles container">
        <div class="main-section-title">
            <h2>Полезные статьи</h2>
            <span class="title-stroke"></span>
        </div>
        @{ 
            Html.RenderAction("_NewsPartial", "News");
        }
        <div class="best-developers-button">
            <button type="button" class="all-devs-btn all-articles" onclick="window.location.href='../news'" style="border-radius: 8px !important;">
                Все статьи
            </button>
        </div>
    </div>
</main>

@section  JsCode{
    <script src="../metronic/assets/frontend/pages/scripts/mainPage.js"></script>
}
