@model IEnumerable<SW.Shared.Models.Documents.ThemePreview>
@{
    Layout = null;
}
@if (Model.Count() > 0)
{
    foreach (var theme in Model)
    {
        <span class="main-page-category-item" onclick="window.location.href='../catalog/@theme.Slug'" style="border-radius: 4px !important;">@theme.Name</span>
    }
}