@{
    ViewBag.Title = "Новость не найдена";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h3>Новость не найден</h3>
    <p class="lead">
        Новость не существует или была удалена.
    </p>
    <p style="height:300px;"></p>
</div>

