
@{
    ViewBag.Title = "Управление рассылкой";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h3>Подписка не найдена</h3>
    <p class="lead">
        У нас не получилось найти подписку. Такое случается когда
    </p>
    <ul>
        <li>Подписка отстутствует в нашей БД</li>
        <li>Не валидная ссылка</li>
    </ul>
    <p style="height:100px;"></p>
</div>