@model SW.Frontend.Models.AuthorsViewModel
@using SW.Frontend.Helpers
@using SW.Frontend.Utilities;

@{
    ViewBag.Title = "Список Авторов | Studlearn.com";
    ViewBag.Description = SW.Resources.Frontend.General.AuthorsDescription;

    if (Model.PagerModel.CurrentPage != 1)
    {
        ViewBag.Title += "Страница " + Model.PagerModel.CurrentPage;
        ViewBag.Description += " - Страница " + Model.PagerModel.CurrentPage;
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{
    @*@if (Model.PagerModel.CurrentPage != Model.PagerModel.LastPage)
        {
            <link rel="next" href="https://studlearn.com/authors?page=@(Model.PagerModel.CurrentPage + 1)" />
        }
        @if (Model.PagerModel.CurrentPage == 2)
        {
            <link rel="prev" href="https://studlearn.com/authors" />
            <meta name="robots" content="noindex, follow" />
        }
        @if (Model.PagerModel.CurrentPage != 2)
        {
            <link rel="prev" href="https://studlearn.com/authors?page=@(Model.PagerModel.CurrentPage-1)" />
            <meta name="robots" content="noindex, follow" />
        }*@
    @if (Model.PagerModel.CurrentPage != 1)
    {
        <link rel="canonical" href="https://studlearn.com/authors" />
    }
}

@section styles {
    <link href="~/metronic/assets/frontend/pages/css/authors/Media.css" rel="stylesheet" type="text/css" />
    <link href="~/metronic/assets/frontend/pages/css/authors/Authors.css" rel="stylesheet" type="text/css" />
    <link href="~/metronic/assets/frontend/pages/css/products/media.css" rel="stylesheet" type="text/css" />
    <link href="~/metronic/assets/frontend/pages/css/products/product.css" rel="stylesheet" type="text/css" />
};

<div class="workers-block">
    <div class="workers custom-container">
        <div class="more-products-list-container">
            <div class="product-breadcrumb">
                <a href="@Url.Action("Index", "Home")" class="comeback-to-page" style="border-radius: 8px !important;">Вернуться назад</a>
                <div class="nav-breadcrumb">
                    <ul class="nav-breadcrumb-list">
                        <li class="nav-breadcrumb-item" onclick="window.location.href='@Url.Action("Index", "Home")'">Главная страница /</li>
                        <li class="nav-breadcrumb-item" style="color: #272F37 !important;">Исполнители</li>
                    </ul>
                </div>
            </div>
            <div style="width: 1px;"></div>
        </div>
        <h1>ИСПОЛНИТЕЛИ</h1>
        <div class="workers-container">
            @foreach (var author in Model.Authors.Where(x => x.WorksPublishedCount > 0))
            {
                @Html.Partial("_AuthorPreviewPartial", author)
            }
        </div>
        <br />
        @Html.CustomPager("Index", "Authors", Model.PagerModel)
        <br />
    </div>
</div>